body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1d3ab;
}

.app-container {
  padding: 2px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 40px;
}
